# Pin only this package
ttkbootstrap==1.20.4
pydantic-core==2.46.4

# Everything else uses the latest version
Flask
Flask-SocketIO
Flask-Cors
SQLAlchemy
PyMySQL
supabase
requests
Pillow
opencv-python
pyzbar
python-dotenv
python-socketio
eventlet
waitress
reportlab
PyMuPDF
python-barcode
qrcode
cloudinary
cryptography
psutil
matplotlib
indiapins
cheroot
aiortc
websockets